body {
  background-color: #000000;
  font-family: "Oswald", sans-serif;
  color: #FFFFFF;
}
.time {
  display: inline;
}
.text {
  font-size: 72px;
  white-space:pre;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.allTime {
  text-align: center;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
